<div class="tac-tic-toe-container">
  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="0">
    <div class="player-info" ngClass.xs="mobile">
      <div class="connect">
        <div class="field" ngClass.xs="mobile">
          <mat-form-field class="example-full-width">
            <input matInput id="userName" [(ngModel)]="userName" placeholder="Name" maxlength="8" [disabled]="disableFields()"> 
          </mat-form-field>
          <!-- <button mat-raised-button color="primary" type="button" (click)="initPlayer()">Connect!</button> -->
        </div>
        <div class="field" ngClass.xs="mobile">
          <mat-form-field>
            <mat-select placeholder="Selct Theme">
              <mat-option *ngFor="let theme of themes" [value]="theme.color">
                {{theme.theme}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="user" ngClass.xs="mobile">
        <div class="name">
          <span #textContent>{{userName}}</span>
        </div>
        <div class="connect-btn">
          <button mat-raised-button color="primary" type="button" (click)="initPlayer()" [disabled]="disableFields()">{{ disableFields() ? 'Connected!': 'Connect'}}</button>

        </div>
      </div>
    </div>
  </div>

  <div class="container tac-tic-pool">
    <mat-grid-list cols="3" ngClass.md="tablet" ngClass.lg="tablet" ngClass.xs="mobile" ngClass.sm="sm-mobile">
      <mat-grid-tile class="block-container" *ngFor="let block of blocks" (click)="playerClick($event,block)">
        <div class="box">
          <i class="material-icons" *ngIf="block.isLocked">{{ (block.symbol == 'tick') ? 'check' : block.symbol ==
            'cross' ? 'close' : ''}}</i>
          <span *ngIf="!block.isLocked">{{block.id}}</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>